<div class="row new_topic">
  <%= form_for(@topic) do |f| %>
    <h4>Topicを投稿</h4>

    <!-- エラーがあった際はその内容を表示させる -->
    <% if @errors %>
      <div id="error_explanation">
        <h2><%= @errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @errors.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_area :content, class: "form-control" %>
    <br />

    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>

    <%= f.submit "投稿",  class: "btn btn-primary" %>
  <% end %>
</div>
