<div class="container">
  <div class="row">
    <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <div class="topic">
        <h4><%= @topic.content %></h4>
        <%= show_picture(@topic) %>
        <p class="right">
          <%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
        </p>

        <% if current_user.id == @topic.user.id %>
          <div class="topics_buttons">
            <%= link_to "編集", edit_topic_path(@topic.id), class: "btn btn-success btn-sm" %>
            <%= link_to "削除", topic_path(@topic.id), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div>
      <br />

      <div class="comments">
        <div class="child row">
          <div class="topic-text">
            <h4>コメント</h4>
            <div id="comments_area">
              <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
            </div>
            <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
            <br />
            <%= link_to '戻る', root_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
